<h1><%= @user.first_name %></h1> 

<p> T'es infos
  <li> Ton prénom : <%= @user.first_name %> </li>
  <li> Ton nom de famille : <%= @user.last_name %> </li>
  <li> Ta description: <%= @user.description %> </li>
  <li> Ton email : <%= @user.email %> </li>
</p>

<div class="card-columns">
<% @events.each do |event|%>
    <% if event.user_id == @user.id %>
  <div class="card" style="max-width: 18rem;">
    <div class="card-body">
    
      <h5 class="card-title"> Title : <%= event.title %></h5> 
      <p class="card-text"><small class="text-muted"> Author <%= event.user.first_name %></small></p>
      <%= link_to "voir l'event", event_path(event.id), class:"btn btn-primary" %>
    
    </div>
  </div>
  <% end %>
<% end %>
</div>